*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.calculator{
    background:#222;
    padding:20px;
    border-radius:12px;
    width:300px;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

#display{
    width:100%;
    height:60px;
    margin-bottom:15px;
    font-size:24px;
    text-align:right;
    padding:10px;
    border:none;
    border-radius:6px;
    background:#333;
    color:white;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.btn{
    padding:18px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#444;
    color:white;
    transition:0.3s;
}

.btn:hover{
    background:#666;
    transform:scale(1.05);
}

.operator{
    background:#ff9500;
}

.equal{
    background:#28a745;
    grid-row: span 2;
}

.clear{
    background:#dc3545;
}
